{% extends "base_login.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block intermedio %}
    {{ super() }}

{% endblock %}
{% block footer %}
    {{ super() }}


    <section>
          <div class="container">
            <div class="copyright"> <p class="text-center copyright">&copy; Copyright Erik Parra. All Rights Reserved.</p>
            </div>
          </div>
    </section>
{% endblock %}